<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/resultsForVotingRoom.css" />
    <title>Voting Room Results</title>
  </head>
  <body>
    <h1>Realtime Voting Statistics</h1>

    <div id="results">
      <!-- Voting Statistics -->
      <div class="stats">
        <h2>Voting Statistics</h2>
        <p>
          Total Registered Voters:
          <span id="totalVoters"
            ><%= votingStats.total_number_of_voters %></span
          >
        </p>
        <p>
          Voter Participation:
          <span id="voterTurnout"><%= votingStats.voter_turnout %></span>
        </p>
        <p>
          Non-Participants:
          <span id="voterTurnoff"><%= votingStats.voter_turnoff %></span>
        </p>
        <p>
          Skipped Ballots:
          <span id="skippedVotes"><%= votingStats.skipped_votes %></span>
        </p>
        <p>
          Total Ballots Submitted:
          <span id="totalVotesCast"><%= votingStats.total_votes_cast %></span>
        </p>
      </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script>
      const socket = io();

      socket.on('updateResults', (results) => {
        const votingStats = results[1];

        document.getElementById('totalVoters').textContent =
          votingStats.total_number_of_voters;
        document.getElementById('voterTurnout').textContent =
          votingStats.voter_turnout;
        document.getElementById('voterTurnoff').textContent =
          votingStats.voter_turnoff;
        document.getElementById('skippedVotes').textContent =
          votingStats.skipped_votes;
        document.getElementById('totalVotesCast').textContent =
          votingStats.total_votes_cast;
      });
    </script>

    <script src="/scripts/votesSripts.js"></script>
  </body>
</html>
