<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/votesStyles.css" />
    <title>Vote for Your Candidate</title>
  </head>
  <body>
    <h1>Tamale Technical University SRC Elections 2024</h1>
    <header>
      <h2>Welcome, <%= student.student_name %></h2>
      <h5>Please Proceed to Vote for Your Candidate</h5>
    </header>

    <form id="voteForm" action="/userVote/votes" method="POST">
      <fieldset>
        <% Object.keys(groupedCandidates).forEach(position => { %>
        <section class="section-class">
          <div class="candidates-main-container">
            <h3><%= position %></h3>
            <div class="candidates-container">
              <% groupedCandidates[position].forEach(candidate => { %>
              <div class="candidate">
                <label for="candidate-<%= position %>-<%= candidate.id %>">
                  <img
                    src="<%= candidate.photo %>"
                    alt="<%= candidate.candidate_name %>"
                    class="candidate-photo"
                  />
                  <div class="candidate-name">
                    <%= candidate.candidate_name %>
                  </div>
                </label>
                <button
                  type="button"
                  class="vote-button"
                  data-position="<%= position %>"
                  data-candidate-id="<%= candidate.id %>"
                  id="candidate-<%= position %>-<%= candidate.id %>"
                >
                  Vote
                </button>
                <input
                  required
                  type="hidden"
                  name="<%= position %>CandidateId"
                  id="hidden-<%= position %>"
                />
              </div>
              <% }); %>
            </div>
          </div>
        </section>
        <% }); %>
      </fieldset>
      <button type="button" id="submitVoteButton" class="submit-vote-button">
        Submit Vote
      </button>
    </form>
    <form action="/" method="GET">
      <button type="submit">Logout</button>
    </form>

    <div id="confirmationModal" class="modal">
      <div class="modal-content">
        <h3>Confirm Your Vote</h3>
        <p>You're about to vote for the following candidates:</p>
        <ul id="selectedCandidatesList"></ul>
        <button id="confirmVoteButton" class="confirm-vote-button">
          Confirm
        </button>
        <button id="cancelVoteButton" class="cancel-vote-button">Cancel</button>
      </div>
    </div>

    <div id="voteCountedModal" class="modal">
      <div class="modal-content">
        <h3>Your Vote Has Been Counted</h3>
        <p>Thank you for participating in the election!</p>
        <button id="closeVoteCountedModalButton" class="confirm-vote-button">
          Close
        </button>
      </div>
    </div>

    <div id="confirmationModalSelect" class="modal">
      <div class="modal-content">
        <h3>Cannot Submit</h3>
        <p>Plase vote for one candidate in all portfolios</p>
        <button id="backToVoteAllButton" class="backToVoteAllButtonClass">
          Okay
        </button>
      </div>
    </div>

    <script type="text/javascript" src="/scripts/votesSripts.js"></script>
  </body>
</html>
